<h1>New Game</h1>
<h1> <%=@letters%> </h1>
<ul>
  <li> <%= @letters[0] %></li>
  <li> <%= @letters[1] %></li>
  <li> <%= @letters[2] %></li>
  <li> <%= @letters[3] %></li>
  <li> <%= @letters[4] %></li>
  <li> <%= @letters[5] %></li>
  <li> <%= @letters[6] %></li>
  <li> <%= @letters[7] %></li>
  <li> <%= @letters[8] %></li>
  <li> <%= @letters[9] %></li>
  <li> <%= @letters[10] %></li>
</ul>

<form action="/score">
  <input type="text" name="longest">
  <input type="submit" value="Type in a word">
  </form>
